---
const allExercise = await Astro.glob("../pages/exercises/*.md");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Second Course Project</title>
	</head>
	<body>
		<h1>Coding Practice</h1>
		<ul>
			{allExercise.map((exercise) => <li><a href={exercise.url}>{exercise.frontmatter.title}</a></li>)}
		</ul>
	</body>
</html>
